<div class="ui middle aligned center aligned grid" style="margin-top: 20px; margin-bottom:20px">

  <form id="addGameForm-form" name="addGameForm" class="ui large form" method="POST">
    <h2 class="ui dividing header">Add Game</h2>
    <p>
      <label>Name:</label>
      <input type="text" name="name" id="addgame_name" placeholder="Name" required />
    </p>

    <p>
      <label for='genre'>Genre:</label>
      <input type="text" name="genre" id="addgame_genre" placeholder="Genre" required />
    </p>

    <div class="two fields">
      <div class="field">
        <label for='platform'>Platform:</label>
        <select name="platform" id="platform" class="ui fluid dropdown" required />
          <option value=""></option>
          <option value="pc">PC</option>
          <option value="ps4">PS4</option>
          <option value="ps5">PS5</option>
          <option value="xbox">Xbox</option>
        </select>
      </div>
      <div class="field">
        <label for='releaseDate'>Release Date:</label>
        <input type="date" name="releaseDate" placeholder="Release Date">
      </div>
    </div>
    <p>
      <label for='gameDetail'>Game Detail:</label>
      <textarea type="text" style="height:100px" name="gameDetail" placeholder="Game Detail"></textarea>
    </p>
    <p>
      <button type="submit" id='submit-game' class="ui button">Add</button>
    </p>
  </form>

</div>