<div class="ui middle aligned center aligned grid" style="margin-top: 20px; margin-bottom:20px">
  <form id="addGameForm-form" name="addGameForm" class="ui form" method="POST">
    <h2 class="ui dividing header">Add Rent Game</h2>
    <p>
      <label for='rentprice'>Rent Price:</label>
      <input type="text" name="rentprice" id="addrentgame_price" placeholder="Rent Price" required />
    </p>

    <p>
      <label for='duration'>Duration:</label>
      <input type="text" name="duration" id="addgame_duration" placeholder="15" required />
    </p>
    <p>
      <button class="ui button"><a href="/private">Back</a></button>
      <button type="submit" id='submit-game' class="ui button">Rent</button>
    </p>
  </form>

</div>