<div class="ui middle aligned center aligned grid" style="margin-top: 20px; margin-bottom:20px">
  <form id="addGameForm-form" name="addGameForm" class="ui form" method="POST">
    <h2 class="ui dividing header">Add Sell Game</h2>
    <p>
      <label for='sellprice'>Price:</label>
      <input type="text" name="sellprice" id="addsellgame_price" placeholder="Price" required />
    </p>
    <p>
      <button class="ui button"><a href="/private">Back</a></button>
      <button type="submit" id='submit-game' class="ui button">Sell</button>
    </p>
  </form>

</div>