<div class="ui middle aligned center aligned grid" style="margin-top: 20px; margin-bottom:20px">
  <form id="addGameForm-form" name="addGameForm" class="ui form" method="POST">
    <h2 class="ui dividing header">Add Rent Game</h2>
    <p>
      <label for='sellPrice'>Selling Price:</label>
      <input type="number" name="sellPrice" id="sellPrice" placeholder="Selling price" required />
    </p>
    <p>
      <button class="ui button"><a href="/private">Back</a></button>
      <button type="submit" id='submit-game' class="ui button">Rent</button>
    </p>
  </form>

</div>